<div class="container">
        <form ng-submit="register(username, password)">
           <div class="form-group"> 
            <span>User Name:</span>
            <input ng-model="username" class="form-control" type="text">
           </div>
           
           <div class="form-group">
            <span>Password:</span>   
            <input ng-model="password" class="form-control" type="password">
           </div>
           
           <input class="btn btn-success" value="Register" type="submit">
           
        </form>
</div>